/*navbrand*/
header .navbar-brand{
	background: url(../img/trailmixlogo2.png);
	background-repeat: no-repeat;
	width: 200px;
	height: auto;
  padding-bottom: 55px;
}

.main{
	border-bottom: solid 2px;
	padding-bottom: 50px;
}

/*form*/
.randomizer{
  margin-top: 50px;
	padding-left: 20px;
  /*margin-left: 60px;*/
  margin-bottom: 20px;
}

/*footer*/
footer{
  background-color: black;
	color: #646262;
}

.trailList{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 3%;
	background: #493B29;
	border-color: #493B29;
	border-top: solid 1px;
	border-bottom: solid 1px;

}

.profileImg{
	max-width: 15rem;
}

.about-team li{
	text-align:center;
	list-style-type: none;
}

.col-leg-12{
	height: 500px;
	overflow: scroll;
}
