/*navbrand*/
header .navbar-brand{
	background: url(../img/trailmixlogo2.png);
	background-repeat: no-repeat;
	width: 200px;
	height: auto;
  padding-bottom: 46px;
}

.main {
	border-bottom: solid 2px;
	padding-bottom: 50px;
}

/*form*/
.randomizer {
  margin-top: 50px;
	padding-left: 20px;
  /*margin-left: 60px;*/
  margin-bottom: 20px;
}

.highlight {
	border: 2px solid #ff0000;
}

/*footer*/
footer{
  background-color: black;

}

.trailList{
	text-align: center;
	border-bottom: solid 1px;

}

.col-leg-12{
	height: 500px;
	overflow: scroll;
}
