/*navbrand*/
header .navbar-brand{
	background: url(../img/trailmixlogo2.png);
	background-repeat: no-repeat;
	width: 200px;
	height: auto;
  padding-bottom: 55px;
}

.main{
	border-bottom: solid 2px;
	padding-bottom: 50px;
}

/*form*/
.randomizer{
  margin-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
  /*margin-left: 60px;*/
  margin-bottom: 20px;

}
.form-body{
	margin-top: 4%;
	border: solid 1px;
	border-radius: 37px;
}
.highlight {
	border: 2px solid #ff0000;
}

/*footer*/
footer{
  background-color: black;
	color: #646262;
}

.trailList{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 3%;
	border-color: #493B29;
	border-top: solid 1px;
	border-bottom: solid 1px;

}

.profileImg{
	width: 20rem;
	height: 20rem;
}

.about-team li{
	text-align:center;
	list-style-type: none;
}

.col-leg-12{
	height: 500px;
	overflow: scroll;
}

.about-team{
	border-bottom: solid 1px;
}

#newHike {
	margin-bottom: 4rem
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	height: 500px;
}
